{% extends 'quesGens/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container">
    <div class="contacts">
        <p>follow us</p>
        <ul>
            <li><a href="#"><img style="width:20px;" src="{% static 'img/facebook.png' %}"></a></li>
            <li><a href="#"><img style="width:20px;" src="{% static 'img/google.png' %}"></a></li>
            <li><a href="#"><img style="width:20px;" src="{% static 'img/youtube.png' %}"></a></li>
            <li><a href="#"><img style="width:20px;" src="{% static 'img/instagram.png' %}"></a></li>
        </ul>
    </div>
    </div>
</main>
{% endblock %}